@tailwind base;
:root {
  --main-font: 'Merriweather', serif;
  --secondary-font: 'Oswald', sans-serif;
}
body {
  font-family: var(--secondary-font);
  background-color: rgb(91, 119, 204);
}

.Error--Message {
  font-family: var(--secondary-font);
}
.Success--Message {
  font-family: var(--secondary-font);
}
@tailwind components;
@tailwind utilities;
